gunicorn==19.6.0
numpy==1.14.5
pandas==0.24.1
flask==0.12.2
flask-uploads==0.2.1
werkzeug==0.14.1
keras==2.2.4
tensorflow==1.13.1
scikit-image==0.15.0
scipy==1.1.0
opencv-python-headless==4.1.1.26